header {
    height: 50px;
    font-size: 36px;
    padding: 2px;
    text-align: center; }
    header a {
        color: black;
        font-weight: bold;
        text-decoration: none; }

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

.tweet {
    }
    .tweet a {
        text-decoration: none;
    }
    .tweet .user_info {
        text-align: center;
        }
        .tweet .user_info .screen_name {
            font-size: x-small;
            word-break: break-all;
        }
    .tweet .tweet_info {
        }
    .tweet .tweet_footer {
        font-size: 80%;
        }

/* smart phones */
@media screen and (max-device-width: 480px) {
}
